/* .postHeader {
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 14px;
    font-weight: bold;
}

.userLink {
    text-decoration: none;
    color: initial;
}

.location {
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-weight: 400;
}

.profileImage {
    border-radius: 50%;
    margin: 15px;
}

.mainImage {
    width: 946px;
}

.iconWrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.iconWrapper svg:not(:first-child, :last-child) {
    margin: 0 15px;
}

.likes {
    margin: 0 15px 15px;
} */