.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.gridPhotoWrapper{
    aspect-ratio: 1;
    overflow: hidden;
}

.onOneLine {
    display: flex;
    justify-content: start;
    align-items: center;
}

.profilePhoto {
    position: relative;
    left: 7rem;
    transform: scale(1.3);
}